docs/n8n-checkout-recovery-flow.json
{
  "name": "Atenna — Checkout Recovery + Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "asaas-checkout-events",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "bb1c1234-0001-0001-0001-000000000001",
      "name": "Webhook Asaas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "atenna-asaas-checkout"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "equal",
              "value2": "CHECKOUT_CREATED"
            }
          ]
        }
      },
      "id": "bb1c1234-0002-0002-0002-000000000002",
      "name": "Foi CHECKOUT_CREATED?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "equal",
              "value2": "CHECKOUT_PAID"
            }
          ]
        }
      },
      "id": "bb1c1234-0003-0003-0003-000000000003",
      "name": "Foi CHECKOUT_PAID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "hours"
      },
      "id": "bb1c1234-0004-0004-0004-000000000004",
      "name": "Aguardar 2h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [700, 120]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT event_type FROM checkout_events WHERE checkout_id = '{{ $('Webhook Asaas').item.json.checkout.id }}' AND event_type = 'paid' LIMIT 1",
        "additionalFields": {}
      },
      "id": "bb1c1234-0005-0005-0005-000000000005",
      "name": "Pagou no Supabase?",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [920, 120],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "bb1c1234-0006-0006-0006-000000000006",
      "name": "Nao pagou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1140, 120]
    },
    {
      "parameters": {
        "fromEmail": "atenna@atennaplugin.maestro-n8n.site",
        "toEmail": "={{ $('Webhook Asaas').item.json.checkout.customer.email }}",
        "subject": "Voce esqueceu algo no Atenna",
        "text": "",
        "html": "<html><body style=\"font-family:sans-serif;background:#0f0f0f;color:#e8e8e8;padding:40px\"><div style=\"max-width:560px;margin:0 auto\"><h2 style=\"font-weight:600;font-size:20px\">Oi, {{ $('Webhook Asaas').item.json.checkout.customer.name }}</h2><p style=\"color:#aaa;line-height:1.7\">Vimos que voce iniciou a assinatura do Atenna Pro mas nao concluiu.</p><p style=\"color:#aaa;line-height:1.7\"><strong>O que te impediu de assinar?</strong></p><a href=\"https://atennaplugin.maestro-n8n.site/checkout/survey?reason=price\" style=\"display:inline-block;margin:4px;padding:10px 20px;background:#1f1f1f;border:1px solid #333;border-radius:6px;color:#e8e8e8;text-decoration:none;font-size:13px\">Preco alto</a> <a href=\"https://atennaplugin.maestro-n8n.site/checkout/survey?reason=not_now\" style=\"display:inline-block;margin:4px;padding:10px 20px;background:#1f1f1f;border:1px solid #333;border-radius:6px;color:#e8e8e8;text-decoration:none;font-size:13px\">Nao e o momento</a></div></body></html>",
        "options": {}
      },
      "id": "bb1c1234-0007-0007-0007-000000000007",
      "name": "Email — Por que nao assinou",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1360, 60],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "SMTP Atenna"
        }
      }
    },
    {
      "parameters": {
        "amount": 22,
        "unit": "hours"
      },
      "id": "bb1c1234-0008-0008-0008-000000000008",
      "name": "Aguardar 22h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1580, 60]
    },
    {
      "parameters": {
        "fromEmail": "atenna@atennaplugin.maestro-n8n.site",
        "toEmail": "={{ $('Webhook Asaas').item.json.checkout.customer.email }}",
        "subject": "Oferta especial — 10% OFF no Pix",
        "text": "",
        "html": "<html><body style=\"font-family:sans-serif;background:#0f0f0f;color:#e8e8e8;padding:40px\"><div style=\"max-width:560px;margin:0 auto\"><h2 style=\"font-weight:600;font-size:20px\">Uma ultima coisa</h2><div style=\"background:#1a1a2e;border:1px solid #6366f1;border-radius:12px;padding:24px;margin:24px 0;text-align:center\"><div style=\"font-size:32px;font-weight:700;margin-bottom:4px\">10% OFF no Pix</div><div style=\"font-size:14px;color:#aaa;margin-bottom:16px\">ou 5% OFF no cartao</div><div style=\"font-size:22px;color:#22c55e;font-weight:600\">R$177,30 no Pix</div></div><p style=\"color:#aaa\">Use o cupom <strong>ATENNA10</strong> no Pix ou <strong>ATENNA5</strong> no cartao. Valido por 48 horas.</p></div></body></html>",
        "options": {}
      },
      "id": "bb1c1234-0009-0009-0009-000000000009",
      "name": "Email — Desconto 10% Pix",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1800, 60],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "SMTP Atenna"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "atenna@atennaplugin.maestro-n8n.site",
        "toEmail": "={{ $('Webhook Asaas').item.json.checkout.customer.email }}",
        "subject": "Bem-vindo ao Atenna Pro!",
        "text": "",
        "html": "<html><body style=\"font-family:sans-serif;background:#0f0f0f;color:#e8e8e8;padding:40px\"><div style=\"max-width:560px;margin:0 auto\"><h2 style=\"font-weight:600;font-size:20px\">Acesso ativado</h2><p style=\"color:#aaa;line-height:1.7\">Seu acesso Atenna Pro foi ativado. Geracoes ilimitadas, DLP avancado e historico completo.</p><div style=\"background:#0a1a0a;border:1px solid #22c55e;border-radius:8px;padding:20px;margin:24px 0\"><div style=\"color:#22c55e;font-weight:600;margin-bottom:8px\">O que fazer agora:</div><ul style=\"color:#aaa;padding-left:20px;line-height:2\"><li>Atualize a extensao Atenna no Chrome</li><li>Faca login novamente se necessario</li></ul></div></div></body></html>",
        "options": {}
      },
      "id": "bb1c1234-0010-0010-0010-000000000010",
      "name": "Email — Boas-vindas Pro",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [700, 400],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "SMTP Atenna"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "id": "bb1c1234-0011-0011-0011-000000000011",
      "name": "Aguardar 3 dias",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [920, 400]
    },
    {
      "parameters": {
        "fromEmail": "atenna@atennaplugin.maestro-n8n.site",
        "toEmail": "={{ $('Webhook Asaas').item.json.checkout.customer.email }}",
        "subject": "Como esta sendo sua experiencia com o Atenna Pro?",
        "text": "",
        "html": "<html><body style=\"font-family:sans-serif;background:#0f0f0f;color:#e8e8e8;padding:40px\"><div style=\"max-width:560px;margin:0 auto\"><h2 style=\"font-weight:600;font-size:20px\">3 dias com o Atenna Pro</h2><p style=\"color:#aaa;line-height:1.7\">Ja faz 3 dias desde o seu acesso. Alguma duvida ou sugestao? Responda este email diretamente.</p><p style=\"color:#aaa;line-height:1.7\">Ja explorou a protecao DLP? Ela analisa dados sensiveis antes de ir para qualquer IA.</p></div></body></html>",
        "options": {}
      },
      "id": "bb1c1234-0012-0012-0012-000000000012",
      "name": "Email — Onboarding D+3",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1140, 400],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "SMTP Atenna"
        }
      }
    }
  ],
  "connections": {
    "Webhook Asaas": {
      "main": [
        [
          { "node": "Foi CHECKOUT_CREATED?", "type": "main", "index": 0 },
          { "node": "Foi CHECKOUT_PAID?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Foi CHECKOUT_CREATED?": {
      "main": [
        [{ "node": "Aguardar 2h", "type": "main", "index": 0 }],
        []
      ]
    },
    "Foi CHECKOUT_PAID?": {
      "main": [
        [{ "node": "Email — Boas-vindas Pro", "type": "main", "index": 0 }],
        []
      ]
    },
    "Aguardar 2h": {
      "main": [[{ "node": "Pagou no Supabase?", "type": "main", "index": 0 }]]
    },
    "Pagou no Supabase?": {
      "main": [[{ "node": "Nao pagou?", "type": "main", "index": 0 }]]
    },
    "Nao pagou?": {
      "main": [
        [{ "node": "Email — Por que nao assinou", "type": "main", "index": 0 }],
        []
      ]
    },
    "Email — Por que nao assinou": {
      "main": [[{ "node": "Aguardar 22h", "type": "main", "index": 0 }]]
    },
    "Aguardar 22h": {
      "main": [[{ "node": "Email — Desconto 10% Pix", "type": "main", "index": 0 }]]
    },
    "Email — Boas-vindas Pro": {
      "main": [[{ "node": "Aguardar 3 dias", "type": "main", "index": 0 }]]
    },
    "Aguardar 3 dias": {
      "main": [[{ "node": "Email — Onboarding D+3", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
